<ion-view view-title="{{friend.name}}">
  <ion-content>
    <div class="list card">     
     
      <div class="item item-avatar">        
        <img src="{{friend.picture}}">
        <h2>{{friend.name}}</h2>
        <p> <i class="ion-arrow-up-b balanced"> {{friend.debt | number:2 }} </i>  <i class="ion-arrow-down-b assertive"> {{friend.credit | number:2 }} </i> </p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="showDebtPopup()">
          <i class="icon ion-arrow-up-b"></i>
            Deve  
        </a>
        <a class="tab-item" ng-click="showCreditPopup()">
          <i class="icon ion-arrow-down-b"></i>
            Pagou
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
