<ion-view view-title="Friends">
    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" autocorrect="off" ng-change="search()" >
        </label>
        <button class="button button-clear" ng-click="clearSearch()">Clear</button>
    </div>
    <ion-content class="has-header has-subheader">       
       
        <ion-list>
            <ion-item ng-repeat="friend in friends track by $index" type="item-text-wrap" class="item-avatar" href="#/app/friend/{{friend.id}}" ng-click="clearSearch()">
                <img src="{{friend.picture}}" />
                <h2>{{friend.name}}</h2>
                <p> <i class="ion-arrow-up-b balanced"> {{ friend.debt | number:2 }} </i>  <i class="ion-arrow-down-b assertive"> {{friend.credit | number:2 }} </i> </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
